@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Rubik:wght@400;500&display=swap");

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white !important;

}

.content > * {
  font-family: "Rubik", sans-serif !important;
}

.content > h3 {
  // color: white !important;
  font-size: 20px !important;
  letter-spacing: 1px;
}

.content > p {
  display: none;
  text-align: center;
  font-size: 11pt;
  line-height: 25px;
  color: black;
}

.content > a {
  display: none;
}

.body {
  background-color: white !important;
}

.item {
  width: 250px !important;
  height: 300px;
}

.workBody {
  height: 300px;
  padding: 40px 5px !important;
  border-radius: 20px !important;
  font-family: "Open Sans", sans-serif !important;
  // background: rgb(108, 108, 229) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;

  &:hover {
    transform: translate(-5px, -10px);

    .content > h3 {
      display: none !important;
    }
    .content > div {
      display: none !important;
    }
    .content > a {
      display: block !important;
      color: white;
    }

    .content > p {
      display: block;
      color: white;
    }

    .content {
      background-color: rgb(10, 10, 10);
      opacity: 0.6;
    }
  }
}
.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 230px;
  justify-content: center;
}

.tags > * {
  margin: 3px 3px !important;
}

.tag {
  min-width: 75px;
  text-align: center;
}

.scroll{
  display: flex;
  justify-content: center;
  align-items: center;
}