
.post-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-top: 30px;
}
.post-list > h2{
  width:950px;
  margin-left:20px !important;
}

.cards{
  display: flex;
  width: 1000px;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.cards > * {
  margin: 10px 10px !important;
}