.my-section{
  border-bottom: 1px solid #E8E8E8;
  width: 90%;
}

.my-row{
  padding:30px !important;
  margin-bottom: 20px !important;
}

.sub-header{
  font-size: 12pt !important;
  margin-top: 5px !important;
}

.desc{
  font-size: 11pt;
}

.about-title{
  margin-top: 15px !important;

}
.icon{
  width: 50 !important;
  height: 50 !important;
}

.box{
  border: none !important;
  background-color: transparent !important;
  padding: 10px;
}

.box-icon{
  width: 50px;
  height: 50px;
  color: rgb(235, 163, 163);
}